:root {
    --primary-bg: powderblue;
}

body {
    background-color: var(--primary-bg);
}

h1 {
    color: darkblue;
    font-family: verdana;
}

h4 {
    color: auto;
    font-family: verdana;
}

p {
    color: auto;
    font-family: verdana;
}

.scroll-list {
    max-height: 580px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 0px solid #ccc;
}

dialog {
    background-color: var(--primary-bg);
}

#notification-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    /* Stacks them vertically */
    align-items: center;
    gap: 10px;
    z-index: 9999;
    pointer-events: none;
}

.notification {
    background: #333;
    color: #fff;
    padding: 12px 25px;
    border-radius: 6px;
    min-width: 200px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

    /* Entrance Animation */
    animation: slideIn 0.4s ease forwards;
    transition: all 0.5s ease;
    /* Handles the "sliding up" effect */
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-out {
    opacity: 0;
    transform: scale(0.9);
}